# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.vs/PartyInvites/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
.vs/PartyInvites/v15/Server/sqlite3/storage.ide-shm
.vs/config/applicationhost.config
.vs/PartyInvites/DesignTimeBuild/.dtbcache
.vs/PartyInvites/v15/Server/sqlite3/db.lock
.vs/PartyInvites/v15/Server/sqlite3/storage.ide
.vs/PartyInvites/DesignTimeBuild/.dtbcache
.vs/config/applicationhost.config
